A {
  color: #3366cc;
  FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
  FONT-SIZE: 10pt;
  TEXT-DECORATION: none;
}

A:hover {
  COLOR: ff0000;
  FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
  FONT-SIZE: 10pt;
  TEXT-DECORATION: underline;
}

.lgText {
  color: #484848;
  FONT-FAMILY: Arial, Helvetica, sans-serif;
  font-size: 12pt;
}

.text {
  color: #484848;
  FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

.smText {
  color: #484848;
  FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
  font-size: 8pt;
}

.textGray {
  color: #999999;
  FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

.smTextGray {
  color: #999999;
  FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
  font-size: 8pt;
}

.textBold {
  FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: bold;
}
